
 /* The barrel index file*/

 /*@import url('http://meyerweb.com/eric/tools/css/reset/reset.css'); /* CSS Reset para compatibilidad entre navegadores */
@import url('style.css'); 
@import url('index.css');/* Estilos principales */