
 /* The barrel index file*/

 /*@import url('http://meyerweb.com/eric/tools/css/reset/reset.css'); /* CSS Reset para compatibilidad entre navegadores */
@import url('style.css'); 
@import url('index.css');/* Estilos principales */
/* Enfoque de temas con CSS puro */

/* Por Defecto: Tema Claro (Púrpura Tirio) */
:root {
	--toggle-shape: '\25D0'; /* Círculo relleno ◐ */

	--background: hsla(307, 45%, 50%, 0.75); /* Púrpura */
	--foreground: hsla(50, 100%, 54%, 0.9); /* Amarillo */
	--card: hsla(303, 50%, 43%, 0.9);
	--primary: hsla(318, 58%, 38%, 1);
}

/* Tema Oscuro: Activar cuando el checkbox está marcado */
/* Clave: ~ (combinador de hermanos general) */
#theme-toggle:checked ~ * {
	--toggle-shape: '\25D1'; /* Círculo delineado ◑ */

	--background: hsla(213, 100%, 18%, 0.9999); /* Índigo */
	--foreground: hsla(60, 60%, 49%, 0.9999); /* Amarillo-verde */
	--card: hsla(215, 100%, 26%, 0.9);
	--primary: hsla(204, 100%, 38%, 0.75);
}

/* Botón Toggle */
.theme-toggle-button {
	cursor: pointer;
	padding: 0.5rem 1rem;
	color: var(--foreground);
	background-color: var(--background);
	transition: all 0.3s;
}

.theme-toggle-button:before {
	content: var(--toggle-shape); /* ¡Símbolo dinámico! */
}